---
import { app_name } from '../common/const'
import 'last.css'
import Header from '../components/page_header/index.astro'
import Aside from '../components/aside/index.astro'
import Prev_and_next from '../components/prev_next/index.astro'

const { title, index, subtitle } = Astro.props.frontmatter
const chapter_index = `第${{
	0: '零', 1: '一', 2: '二', 3: '三',
	4: '四', 5: '五', 6: '六', 7: '七',
	8: '八', 9: '九', 10: '十',
}[index as number]}章`

const pages: Page[] = (await Astro.glob('../pages/*'))
	.sort((a, b) => a.frontmatter.index - b.frontmatter.index) as Page[]
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={app_name + ': ' + title} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/ffend/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<nav>
			<ul>
				{pages.map(page =>
					<li>{page.frontmatter.title == title
						? <span class='current'>{page.frontmatter.title}</span>
						: <a href={page.url}>
							<span>{page.frontmatter.title}</span>
							<span class='arrow'>&gt;</span>
						</a>
					}</li>
				)}
			</ul>
		</nav>
		<article class="simple_style">
			<h2>
				<span class='index'>{chapter_index}</span>
				<span class='name'>{title}</span>
				<span class='subtitle'>{subtitle}</span>
			</h2>
			<slot />
			<Prev_and_next
				pages={pages}
				index={index}
			/>
		</article>
		<Aside title={title} headings={Astro.props.headings} />
	</body>
</html>
<style is:global>
	* {
		box-sizing: border-box;
	}
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	@media (width >= 800px) {
		:root {
			--header-height: 50px;
		}
	}
	@media (width < 800px) {
		:root {
			--header-height: 36px;
		}
	}

	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		color: #fff;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>

<style>
	h2 {
		font-weight: normal;
	}
	h2 .index {
		margin-right: 1rem;
	}
	h2 .subtitle {
		margin-left: .5em;
		font-size: 1rem;
	}
	article {
		padding-bottom: 166px;
	}
	nav {
		font-size: 14px;
	}

	@media (1440px <= width) { /* nav 和 aside 都有，article 居中，nav 在左，aside 再右 */
		nav {
			position: fixed;
			left: 0;
			top: var(--header-height);
			bottom: 0;
			width: 220px;
			background: rgba(var(--fc), .06);
		}
		nav ul {
			list-style: none;
			padding-left: 0;
			margin: 10px 0;
			line-height: 2.2;
		}
		nav .current {
			padding: 0 1rem;
		}
		nav a {
			display: flex;
			align-items: center;
			padding: 0 1rem;
			justify-content: space-between;
			text-decoration: none;
		}
		nav a span.arrow {
			opacity: .3;
			color: rgb(var(--fc));
			font-weight: 100;
			font-size: 12px;
		}
		nav a:hover {
			background-color: rgba(var(--fc), .06);
		}
		nav a:hover span.arrow {
			opacity: .6;
		}
		article {
			width: 800px;
			margin: 0 auto;
		}
	}
	@media (1100px <= width < 1440px) { /* nav 放不开了，article 靠左，aside 在右 */
		nav {
			display: none;
		}
		article {
			width: 800px;
			margin: 0 100px;
		}
	}
	@media (width < 1100px) { /* aside 也放不开了，article 居中 */
		article {
			padding-left: 1rem;
			padding-right: 1rem;
			max-width: 800px;
			margin: 0 auto;
		}
		h2 {
			margin-top: 1em;
		}
		nav {
			display: none;
		}
	}
</style>
